@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));


:root {
  --background: oklch(0.9836 0.0013 286.3753);
  --foreground: oklch(0.2067 0.0100 285.4885);
  --card: oklch(0.9588 0.0034 286.3357);
  --card-foreground: oklch(0.2067 0.0100 285.4885);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2067 0.0100 285.4885);
  --primary: oklch(0.6175 0.2286 312.2241);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.7845 0.0952 195.3873);
  --secondary-foreground: oklch(0.2067 0.0100 285.4885);
  --muted: oklch(0.9203 0.0034 286.3323);
  --muted-foreground: oklch(0.4958 0.0161 285.7982);
  --accent: oklch(0.9220 0.0371 314.6319);
  --accent-foreground: oklch(0.3829 0.1754 310.4295);
  --destructive: oklch(0.6356 0.2082 25.3782);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.8788 0.0062 286.2706);
  --input: oklch(0.9197 0.0041 286.3186);
  --ring: oklch(0.6175 0.2286 312.2241);
  --chart-1: oklch(0.6175 0.2286 312.2241);
  --chart-2: oklch(0.5279 0.2008 293.6777);
  --chart-3: oklch(0.7845 0.0952 195.3873);
  --chart-4: oklch(0.6994 0.1838 334.0887);
  --chart-5: oklch(0.5809 0.1569 272.1556);
  --sidebar: oklch(0.9836 0.0013 286.3753);
  --sidebar-foreground: oklch(0.3050 0.0182 285.2681);
  --sidebar-primary: oklch(0.6175 0.2286 312.2241);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9364 0.0027 286.3470);
  --sidebar-accent-foreground: oklch(0.2067 0.0100 285.4885);
  --sidebar-border: oklch(0.8788 0.0062 286.2706);
  --sidebar-ring: oklch(0.6175 0.2286 312.2241);
  --font-sans: "Inter", -apple-system, sans-serif;
  --font-serif: serif;
  --font-mono: monospace;
  --radius: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 12px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: hsl(0, 0%, 0%);
  --shadow-2xs: 0px 4px 12px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 12px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 12px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0px 4px 12px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 4px 12px 0px hsl(0 0% 0% / 0.10), 0px 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 4px 12px 0px hsl(0 0% 0% / 0.10), 0px 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 4px 12px 0px hsl(0 0% 0% / 0.10), 0px 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 4px 12px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: -0.01em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1417 0.0044 285.8192);
  --foreground: oklch(0.9848 0 0);
  --card: oklch(0.1857 0.0082 285.5695);
  --card-foreground: oklch(0.9848 0 0);
  --popover: oklch(0.1641 0.0064 285.6767);
  --popover-foreground: oklch(0.9848 0 0);
  --primary: oklch(0.5905 0.2097 303.5671);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.2285 0.0576 288.6474);
  --secondary-foreground: oklch(0.9848 0 0);
  --muted: oklch(0.2272 0.0118 285.4252);
  --muted-foreground: oklch(0.7127 0.0128 286.0699);
  --accent: oklch(0.2624 0.0842 304.2498);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.3996 0.1348 25.7682);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.2570 0.0143 285.3525);
  --input: oklch(0.2570 0.0143 285.3525);
  --ring: oklch(0.5905 0.2097 303.5671);
  --chart-1: oklch(0.5905 0.2097 303.5671);
  --chart-2: oklch(0.6611 0.1326 236.6908);
  --chart-3: oklch(0.6676 0.2193 334.9725);
  --chart-4: oklch(0.5262 0.2110 276.3331);
  --chart-5: oklch(0.6162 0.1825 295.9788);
  --sidebar: oklch(0.1641 0.0064 285.6767);
  --sidebar-foreground: oklch(0.9203 0.0034 286.3323);
  --sidebar-primary: oklch(0.5905 0.2097 303.5671);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.2272 0.0118 285.4252);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.2570 0.0143 285.3525);
  --sidebar-ring: oklch(0.5905 0.2097 303.5671);
  --font-sans: "Inter", -apple-system, sans-serif;
  --font-serif: serif;
  --font-mono: monospace;
  --radius: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 10px;
  --shadow-blur: 25px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.5;
  --shadow-color: hsl(0, 0%, 0%);
  --shadow-2xs: 0px 10px 25px 0px hsl(0 0% 0% / 0.25);
  --shadow-xs: 0px 10px 25px 0px hsl(0 0% 0% / 0.25);
  --shadow-sm: 0px 10px 25px 0px hsl(0 0% 0% / 0.50), 0px 1px 2px -1px hsl(0 0% 0% / 0.50);
  --shadow: 0px 10px 25px 0px hsl(0 0% 0% / 0.50), 0px 1px 2px -1px hsl(0 0% 0% / 0.50);
  --shadow-md: 0px 10px 25px 0px hsl(0 0% 0% / 0.50), 0px 2px 4px -1px hsl(0 0% 0% / 0.50);
  --shadow-lg: 0px 10px 25px 0px hsl(0 0% 0% / 0.50), 0px 4px 6px -1px hsl(0 0% 0% / 0.50);
  --shadow-xl: 0px 10px 25px 0px hsl(0 0% 0% / 0.50), 0px 8px 10px -1px hsl(0 0% 0% / 0.50);
  --shadow-2xl: 0px 10px 25px 0px hsl(0 0% 0% / 1.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);
    --font-poppins: var(--font-poppins);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
  background-color: var(--background);
}

